body {
	background-color: #a6a6a6;
}

#wrapper {
	width: 800px;
	margin-right: auto;
	margin-left: auto;
	background-color: #f3f3f3;
}

header {
	text-align: center;
	padding: 5px;
}

header h1 {
	font-size:3em;
	font-weight: bold;
}

nav {
	border-bottom-color: #999999;
	border-bottom-style: solid;
}

nav ul {
	padding: 0;
	list-style-type: none;
	margin: 0;
	overflow: hidden;
}

nav li {
	float: right;
}

nav li a {
	display: inline-block;
	padding: 8px 10px 8px 4px;
	color: #999999;
	text-decoration: none;
}

nav li a:hover {
	color: #000000;
	font-weight: bold;
}

#content {
	margin-top: 0px;
	float: right;
	width: 600px;
	padding-top: 40px;
}

.sidebar {
	border-right-color: #999999;
	border-right-style: solid;
	border-right-width: 2px;
	margin-top: 0px;
	float: left;
	width: 160px;
	height: 100%;
	margin-left: 10px;
	padding-top: 20px;
	padding-right: 20px;
}

.sidebar a {
	color: #999999;
	text-decoration: none;
}

.sidebar a:hover {
	color: #000000;
	font-weight: bold;
}

.scrollsidebar {
	height: 500px;
	overflow-y: auto;
	margin-bottom:20px;
}


.scrollsidebar::-webkit-scrollbar {
	display: none;
}
 
.blogtext {
	box-shadow: 1px 1px 1px 0px hsla(0, 0%, 24%, 0.75) inset;
	background-color: #c9c9c9;
	width: 520px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
}

.blogtext input, textarea{
	padding: 5px;
	font-weight: bold;
}


fieldset {
	background-color: #ffffff;	
	margin: 75px;
	padding: 25px;
	border-width:2px;
	border-style:solid;
	border-color:#999999;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
}

fieldset p {
	margin: 15px;
}

.label {
	float: left;
	width: 180px;
	margin-right: 10px;
	text-align: right;
	clear: left;
	display: block;
}

.error {
	color: red;
	margin-left: 190px;
}

.berror {
	color: red;
}

form {
	margin-left: 6.25%;
	margin-right: 6.25%;
}

fieldset a {
	font-family: sans-serif;
	font-style: normal;
	font-size: 0.9em;
}

fieldset a, fieldset button {
	font-family: sans-serif;
	color: #000000;
	background-color: #dddddd;
	background: -webkit-linear-gradient(#fff, #ccc);
	background: linear-gradient(#fff, #ccc);
	text-decoration: none;
	border: 1px solid #777777;
	padding: 2px 10px 2px 10px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
}

button {
	margin-right: 10px;
}

fieldset a:hover, fieldset button:hover {
	cursor: default;
	background-color: #dddddd;
	background: -webkit-linear-gradient(#fff, #bdfafa);
	background: linear-gradient(#fff, #bdfafa);
}

footer {
	clear: both;
}